h1 {font-family: Georgia, 'Times New Roman', Times, serif; 
    color: aqua;
}
p {font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
     font-size: 115%;
}
body 
{background-color: royalblue;
}
